@import url('https://cdn.jsdelivr.net/gh/salil-naik/product.css/v-2.0/product.min.css');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600&display=swap');


// settings
*{
  box-sizing:border-box;
  // font-family: 'Poppins', sans-serif !important;
  font-family: 'Mukta', sans-serif;
}

.grid-container {
  max-width: 69.375em; /* making it 1080px including 15px margin on either sides */
}

a {
  color: inherit;
}

// Theme colors
$purple: #ab1d79;
$lilac: #4a2343;
$pink: #ffc7e3;

// Text colors
$title-color: #333333;
$text-color: #6e6d7a;

// Background colors
$yellow-bg: #fffdf6;
$pink-bg: #ffebf3;

//font-weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//headings
h1 {
  font-size: 50px;
  font-weight: $font-weight-semi-bold;
}

h2 {
  font-size: 30px;
  font-weight: $font-weight-semi-bold;
}

h3 {
  font-size: 18px;
  font-weight: $font-weight-medium;
}

// text style
.text {
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 26px;
  color: $text-color;
}

p {
  @extend .text; //using text style
}

a {
  color: inherit;
  text-decoration: inherit;
  line-height: inherit;
}

// button
.button, a.button {
  //elements
  &__small {
    padding: 8px 20px;
  }

  &__big {
    padding: 15px 25px;
  }

  &__small,
  &__big {
    //purple button by default. You can use modifiers to change the colors of have different variants
    background-color: $purple;
    color: white;
    border: 0;
    display: inline;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 14px;
    font-weight: $font-weight-medium;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    //modifiers
    &--pink {
      background-color: $pink;
      color: $title-color;
    }

    &--hollow {
      border: 1px solid $lilac;
      color: $title-color;
      background-color: transparent;
    }

    //hover effect
    &:hover {
      background-color: $lilac;
      color: white;
      transition: 0.2s ease-in-out;
      text-decoration: none;
    }
  }
}

// classes to be used
// button__small
// button__small--pink
// button__small--hollow

// button__big
// button__big--pink
// button__big--hollow

// header
.header {
  height: 60px;
  background-color: $yellow-bg;
  border-bottom: 1px solid $purple;

  &__logo{
    font-size:30px;
    font-weight: $font-weight-semi-bold;
    line-height: 60px;
  }
}

// navbar
.navbar {
  &__item-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    line-height: 60px;
    font-size: 18px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &--active,
    &:hover {
      color: $purple;
      text-decoration: underline;
    }
  }
}

/* form default styles from antd */
.login-form {
  margin: 24px auto;
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}

// store

.product{
  &__wrap{
    background-color:#f1f1f1;
    // border:1px solid $pink;
    padding:20px;
    border-radius:5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    margin-top:30px;

    &.small{
      padding:15px;
    }
  }

  &__image{
    border-radius: 10px;
    width:100%; height:250px;
    object-fit: cover;
    margin-bottom:20px;

    &.small{
      height:100px;
      border-radius:5px;
    }
  }

  &__name{
    font-size:25px;
    color:$title-color;

    &.small{
      font-size:18px;
    }
  }

  &__cost{
    font-size:20px; 

    &.small{
      font-size:14px;
    }
  }
}

// product page

.product-page{
  padding:20px 0 80px 0;
  background: linear-gradient(#fffdf6, #ffebf3);

  &.w-o-heading{
    padding:80px 0;
  }

  &__image{
    height:300px;
    width:100%;
    object-fit: cover;
    border-radius:10px;
  }

  &__name{
    margin-bottom:10px; 
    line-height:70px;
  }

  &__company-name{
    color:#2F80ED;
    cursor:pointer;
    font-weight: $font-weight-semi-bold;
  }

  &__desc{
    margin: 30px 0;
  }
}

// input
::placeholder {
  font-size: 16px;
  font-weight: $font-weight-regular;
  color: #828282;
}

%form-element-focus {
  box-shadow: 0 0 0 4px rgba(171, 29, 121, 0.15);
  border-color: rgb(171, 29, 121);
}

.form {
  &__label {
    color: $title-color;
    font-size: 16px;
    font-weight: $font-weight-medium;
    margin-bottom: 4px;
    display:block;
    margin-top:20px;

    // this class should be used with form elements with required attribute.
    &.required {
      &::after {
        position: relative;
        content: " *";
      }
    }
  }

  &__input-field {
    border: 1px solid #828282;
    border-radius: 5px;
    color: $title-color;
    font-size: 16px;
    font-weight: $font-weight-regular;
    height: 44px;
    padding: 0 20px;
    margin: 0;
    width:100%;

    &:focus,
    &:hover {
      @extend %form-element-focus;
    }

    &.error {
      border: 1px solid red;
      color: red;
    }
  }

  &__input-error {
    color: red;
    font-size: 14px;
    margin-bottom: 6px;
  }
}
%card{
  background-color:#fffdf6;
  // border:1px solid $pink;
  padding:30px;
  border-radius:5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.profile-card{
  @extend %card;

  &__image{
    height:80px; width:80px; 
    border-radius:50px;
    object-fit: cover;
    display:block; margin:auto;
  }

  &__name{
    text-align:center;
    margin:20px 0 0 0 ;
  }

  &__text{
    text-align:center;
    margin-bottom:10px;

    &:first-of-type{
      margin-bottom:20px;
    }

    &.blue{
      color:#2F80ED
    }

    &.small{
      font-size:14px; line-height: normal;
    }
  }

  [class*='button']{
    margin:20px auto 0 auto;
    display: table;
  }
}

// products uploaded display in dashboard

.products-uploaded{
  @extend %card;
}
