@import url("https://cdn.jsdelivr.net/gh/salil-naik/product.css/v-2.0/product.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// settings
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

.grid-container {
  max-width: 69.375em; /* making it 1080px including 15px margin on either sides */
}

a {
  color: inherit;
}

// Theme colors
$purple: #ab1d79;
$lilac: #4a2343;
$pink: #ffc7e3;

// Text colors
$title-color: #333333;
$text-color: #6e6d7a;

// Background colors
$yellow-bg: #fffdf6;
$pink-bg: #ffebf3;

//font-weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//headings
h1 {
  font-size: 50px;
  font-weight: $font-weight-semi-bold;
}

h2 {
  font-size: 36px;
  font-weight: $font-weight-semi-bold;
}

h3 {
  font-size: 18px;
  font-weight: $font-weight-medium;
}

// text style
.text {
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 26px;
  color: $text-color;
}

p {
  @extend .text; //using text style
}

a {
  color: inherit;
  text-decoration: inherit;
  line-height: inherit;
}

// header
.header {
  height: 60px;
  background-color: $yellow-bg;
  border-bottom: 1px solid $purple;
}

// navbar
.navbar {
  &__item-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__item {
    line-height: 60px;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &--active,
    &:hover {
      color: $purple;
      text-decoration: underline;
    }
  }
}

/* form default styles from antd */
.login-form {
  margin: 24px auto;
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
